
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<nav mat-tab-nav-bar>
  <a mat-stroked-button routerLink="/crisis-center" routerLinkActive="active" [routerLinkActiveOptions]='{exact:true}'>Cisis</a>
  <a mat-stroked-button routerLink="/heroes" routerLinkActive="active" [routerLinkActiveOptions]='{exact:true}'>Heroes</a>
  <a mat-stroked-button routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]='{exact:true}'>Admin</a>
  <a mat-stroked-button routerLink="/login" routerLinkActive="active">Login</a>
  <a mat-stroked-button [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
</div>



<router-outlet name="popup"></router-outlet>


